{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
<script src="/static/picture.js"></script>
{% endblock head %}

{% block content %}

<div class="centered">
    {% if user.admin == True %}
    <a class="modern-button" href="{{ url_for('admin') }}">Admin Panel</a></p>
    <br />
    {% endif %}
    <a class="modern-button" href="{{ url_for('upload') }}">Upload your cat picture</a></p>
    <a class="modern-button" href="{{ url_for('logout') }}">Logout</a></p>
    <br />

    <div class="centered cut-side">
        <h3 class="like-count">Hi {{user.username}}, you have {{like}} Like!</h3> <br />
        <h4>Select a cat to be displayed</h4>
        {{ selectForm.user(**{"onchange":"updatePicture()", "class": "form-control"}) }}
        <br />
        <img id=picture height=250px />

        {% if likeResponse %}
        <br />
        {{likeResponse | safe}}
        {% endif %}

        <form action="/index" method="post">
            <input type="hidden" name="username" id="username" value="currentUsername();"> <br />
            <button class="btn btn-default" type="submit" name="apiUrl"
                value="https://127.0.0.1:5001/like">Like</button>
        </form>
        <script>updatePicture()</script>
    </div>
</div>

{% endblock %}