{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %} 
{% block content %}
<div class="centered cut-side">
	<h1 class=capital-modern>Register</h1>
	{{ wtf.quick_form(form) }} </br>
	<p>Already have an account? <a href="{{ url_for('login') }}">Login to your account</a></p>
</div>
{% endblock %}