{% extends "base.html" %}

{% block content %}
<div class="centered cut-side">
    <h1>Upload your cat image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
	<input type="file" name="file">
	{% if imgsrc %}
	<div class="centered">
		<img src= {{imgsrc}} width=200px> <br/><br/>
	</div>
	{% endif %}
	<input type=submit value="Confirm"> <br/><br/>
	<a href="/">Back to home</a>
</div>

{% endblock %}

