<div class="floating-bubble">
    <table>
        <tr>
            <td width="50px">
                <img src="/resource/image/{{ user.picture }}" width="50" height="50" />
            </td>
            <td width="20px">
            </td>
            <td>
                <h4 class="default"><b>{{ user.username }}</b> {% if user.is_admin == True %} (admin) </h4>

                <form action="" method="post">
                    <input type="hidden" name="apiUrl" value="https://127.0.0.1:5001/modify" />
                    <input type="hidden" name="username" value="{{user.username}}" />
                    <input type="hidden" name="admin" value="False">
                    <button type="submit">Remove Admin</button>
                </form>
                {% else %}
                </h4>
                <form action="" method="post">
                    <input type="hidden" name="apiUrl" value="https://127.0.0.1:5001/modify" />
                    <input type="hidden" name="username" value="{{user.username}}" />
                    <input type="hidden" name="admin" value="True">
                    <button type="submit">Make Admin</button>
                </form>
                {% endif %}
                <form action="" method="post">
                    <input type="hidden" name="apiUrl" value="https://127.0.0.1:5001/delete" />
                    <input type="hidden" name="username" value="{{user.username}}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>